.custom-input {
  padding: 0;
  width: 100%;
  /* ここはtiptapの公式docsと揃えるためrem指定 */
  /* ↑rem指定していたが本番でたまに聴いてないのでpx指定 */
  font-size: 21px;
  border: none;
  outline: none;
}

.custom-input::placeholder {
  color: #adb5bd;
  font-weight: normal;
}
