.custom-input {
  padding: 0;
  width: 100%;
  /* ここはtiptapの公式docsと揃えるためrem指定 */
  font-size: 1.2rem;
  border: none;
  outline: none;
  font-weight: bold;
}

.custom-input::placeholder {
  color: #adb5bd;
  font-weight: normal;
}
